header {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    padding: 10px 0;
    background: linear-gradient(10deg, #ff6a00, #ff6a00, #ee0979);
    color: #e8f0ee;
    box-shadow: 0 0px 8px rgba(0, 0, 0, 0.199);
    text-shadow: 1px 2px 2px #000000;
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(90deg, #ff6a00, #ee0979, #ff6a00, #ee0979);
    background-size: 400% 400%;
    animation: gradientBG 15s ease infinite;
    color: #e8f0ee;
    text-align: center;
}

form {
    margin-top: 50px;
}

label {
    font-size: 20px;
    margin-right: 10px;
}

input {
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    width: 250px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #ff6a00;
    color: #e8f0ee;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

button:hover {
    background-color: #ee0979;
}

